body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
div{
    border: 2px solid black;
    font-size: 30px;
    padding: 5% 20%;
    text-align: center;
    
}